.cadre-page
{
width: 600px;
height: 1000px;
margin: auto; 
border: solid 2px;
padding: 10px 10px;
box-shadow: bottom;
}

h1
{
text-align: center;
text-decoration: underline;
}

.cadre-page
{
    background: brown;
}